.chitchat{
    border:solid 1px white;
    padding:9px;
    cursor:pointer;
    border-radius:8px;
}
.headerbtn{

}
.item{

}
@media (max-width:600px) {

  .card{
    max-height: 50px;
  }
}

  
.chitchat:hover{
    background-color: white;
    color: black;
}
.morebt{
    font-size:2rem;
    color:white ;
   background-image: url("fxp0.gif");
    border:1px solid white;
    padding:7px;
    border-radius:10px;
    cursor:pointer
}

.iicon{
cursor: pointer;
}
.iicon:hover{
}
.headerbtn:hover{
background-color: white;
color: rgb(26, 25, 25);
padding: 9px;
border-radius: 10px;
}
.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: rgb(26, 25, 25);
    color:white;
    padding: 20px;
    border-radius: 20px;
    min-width:228px;
    max-width: 310px;
    min-height: 400px;
}

.backSkills{
    border-radius: 10px;
background-color: white;
    padding: 1px;


}
.Miniexperiencev2{
    border: #d8d8d8 solid 1px;
    border-radius: 10px;
  margin: 10px;
height: 100%;
  max-width: 400px;
  min-width: 200px;
  background-color: rgb(26, 25, 25);
  }
.colore{
    text-align: center;
    font-size: 3rem;
 
    color: white;
    font-weight: bolder;
 

    font-weight: 700;
  
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
   background-color: rgb(26, 25, 25);
    color:white;
    padding: 10px;
width: 100px;
    border-radius: 10px;

   
}


.logo{
    margin-bottom: "8px";
    color:rgb(224, 223, 223);
    border:solid white 3px;
    padding: 5px;
    border-radius: 100%;
}
@property --angle{
    syntax: "<angle>";
    initial-value:0deg;
    inherits: false;
}
.Skills{
    display: flex;
    flex-direction: column;
    align-items: center;

    color:white;

   

}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.backcard{
    box-sizing: border-box;

    background-image: conic-gradient(from var(--angle) , #00FFFF, #FF00FF, #6e14ff, #ff00ff);
    animation: 1s spin linear infinite;
    padding: 1px;
    
    border-radius: 20px;
}
.backhead{
    width: 100%;
    padding-bottom: 1px;
    background-image: conic-gradient(from var(--angle) , #00FFFF, #FF00FF, #6e14ff, #ff00ff);
    animation: 1s spin linear infinite;
    position: "fixed";
    z-index: 100;
    
}
@keyframes spin{
    from {
--angle:0deg;
    }
    to{
--angle:360deg;
    };
    
}